{% extends "base.html" %}
{% block title %}All Departments{% endblock %}
{% block content%}

<div style="position: relative;"  class="container mt-5" >
    <h1 style="margin-bottom: 50px;" align="center">All Departments </h1>


    {%if departments | length >0%}
        {% for department in departments %}
         <div class="alert-info" style="position: relative; align-items: center; justify-content: space-between;  padding: 15px; display: flex; margin-bottom: 30px;">
             <h2 style="display: block;">{{department}}</h2>
             <a style="position: absolute; right: 15px; display: block;" href="/departments/{{department}}"  class="glow-button" >More info</a>


         </div>

        {% endfor %}
    {%else%}
    <p>No one department yet</p>
    {%endif%}
</div>
<!--    <a href="/sign-up"  class="glow-button" >Add new department</a>-->



{% endblock %}