{% extends "base.html" %}
{% block title %}{{department}}{% endblock %}
{% block content%}
<div class="container mt-5">
    <h1 style="margin-bottom: 60px; "align="center">{{department}} </h1>
    <h2 >Average salary: {{aver_sal}}</h2>

     <div class="alert-info" style="padding: 15px; margin-bottom: 30px;">
         <p><b>{{department}}</b></p>

        {%if employees | length >0%}
        {% for employee in employees %}
         <div class="alert-info" style="padding: 15px; margin-bottom: 30px;">
             <h2 >{{employee.first_name}}</h2>
             <p><b>Email:</b> {{employee.email}}</p>
             <p><b>Salary:</b> {{employee.salary}}</p>
         </div>

        {% endfor %}
    {%else%}
    <p>No one employee yet</p>
    {%endif%}
     </div>

</div>
{% endblock %}