{% extends "base.html" %} {% block title %}Edit{% endblock %} {% block
content %}
<form method="POST">
  <h1 style="margin: 30px 0;" align="center">Enter new  information and press submit</h1>

  <div class="form-group">
    <label for="firstName">Name and surname</label>
    <input
            value="{{user.first_name}}"
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter name and surname"
    />
  </div>

  <div class="form-group">
    <label for="date">Date</label>
    <input
            value="{{user.date}}"
      type="date"
      class="form-control"
      id="date"
      name="date"
      placeholder="Enter new date"
    />
  </div>
  <div class="form-group">
    <label for="salary">Salary</label>
    <input
            value="{{user.salary}}"
      type="salary"
      class="form-control"
      id="salary"
      name="salary"
      placeholder="Enter new salary"
    />

  </div>
  <br />
  <button type="submit" class="glow-button">Save</button>
</form>
{% endblock %}