{% extends "base.html" %}
{% block title %}Employees{% endblock %}
{% block content%}
<div  class="container mt-5" >
    <h1 style="margin-bottom: 60px;" align="center">Found employees </h1>
    {%if employees | length >0%}
        {% for employee in employees %}
         <div class="alert-info" style="padding: 15px; margin-bottom: 30px;">
             <h2 >{{employee.first_name}}</h2>
             <p><b>Email:</b> {{employee.email}}</p>
             <p><b>Department: </b>{{employee.department}}</p>
             <a href="/employees/{{employee.id}}"  class="glow-button" >More info</a>

         </div>

        {% endfor %}
    {%else%}
    <p>No one employee yet</p>

    {%endif%}
    </div>
    {%endblock%}